include *.txt
include *.md
include *.cfg
include *.pkl
recursive-include ./tox_block/*

include tox_block/trained_models/*.pkl
include tox_block/trained_models/*.h5
include tox_block/VERSION

include ./requirements.txt
exclude *.log

recursive-exclude * __pycache__
recursive-exclude * *.py[co]